.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 30px;
  font-family: Copperplate; /* HYWenHei font */
  background-color: #ffffff; /* Black background eek */
  color: #000000; /* White font color */
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

div.navbar {
  background-color: #000000; /* Black */
  color: #ffffff; /* White */
  font-size: 30px;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

a {
  color: #ffffff; /* White */
}

.links {
  text-align: center;
  background-color: #000000;
}

.loginRegisterField {
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  width: 50%;
  margin: auto;
}

.pwChecklist {
  text-align: left;
}

.productCard {
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
}

.productCardBox {
  width: 400px;
  height: 255px;
  color:#ffffff;
}

.noMargin {
  margin: 0px;
}

.productCardTable {
  height: 100%;
}

.smallImage {
  /* height: 100px; */
  width: 100%;
  max-height: auto;
}

.logoImage {
  height: 25px;
  margin-top: 10px;
}

.hr-text {
  border: 0;
  line-height: 1em;
  position: relative;
  text-align: center;
  height: 1.5cm;
  font-size: 25px;
  margin: 30px 15px;
}

.hr-text::before {
  content: "";
  background-color: #000000; /* linear-gradient(to right, #000000); /* Black to white gradient */
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  padding: 0 0px;
  line-height: 2em;
  color: #000000; /* White */
  background-color: #ffffff; /* Black, ini tulisan games merch hardware di storenya*/
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.carousel {
  width: 95%; /* Seberapa gede carouselnya */
}

.carouselText {
  position: absolute;
  z-index: 3;
  color: #ffffff; /* White */
  text-shadow: #000000 0px 0px 20px; /* Black */
  bottom: 0;
  margin-left: 30px;
  font-size: 35px;
  -webkit-text-stroke: 1px #ffffff; /* White */
}

.carouselimg {
  object-fit: cover;
  position: relative;
  width: 98%;
  border: 5px solid #ffffff; /* White */
}

@media screen and (min-width: 1000px) {
  .carouselimg {
    height: 400px;
  }
}

.homeCard {
  text-shadow: #FC8EAC 1px 0 10px; /* Black */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff; /* warna tulisan welcome */
  background-color: #000000;
}

.cartModal {
  margin-top: 60px;
  margin-left: 35%;
}


/* Below targets Dashboard.jsx div that wraps around the data grid itself, but doesn't include the add user/games/etc. button 
To edit the width of each datagrid column, go to the relevant datagrid component and change the width on each column that you want to change within the columns variable 

div.css-204u17-MuiDataGrid-main {
  margin: 0 auto;
} 

*/

/* Below targets Dashboard.jsx div that wraps around the full data grid, grid and add record button included

div.css-1d9w42x-MuiDataGrid-root {
  justify-content: center;
  align-items: center;
} 

*/